@model List<RapidApiConsume.Models.BookingApiViewModel.Datum>

@{
    Layout = null;

    int count = 0;

}


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Otel Adı</th>
            <th>Şehir</th>
            <th>Otel Açıklaması</th>
            <th>Fiyat</th>
            <th>Puan</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;

            <tr>
                <td>@count</td>
                <td>@item.listingName</td>
                <td>@item.city</td>
                <td>@item.title</td>
                <td>@item.originalPrice</td>
                <td>@item.avgRating</td>
            </tr>
        }
    </table>
</div>